In [2]:
import pandas as pd
import numpy as np
import torch
import torch.nn as nn
import torch.optim as optim
from sklearn.preprocessing import StandardScaler
from sklearn.metrics import accuracy_score
from sklearn.model_selection import train_test_split

ModuleNotFoundError: No module named 'pandas'

In [27]:
# Загрузка данных
train_data = pd.read_csv('data/train.csv')
test_data = pd.read_csv('data/test.csv')

In [28]:
train_data.head()

,battery_power,blue,clock_speed,dual_sim,fc,four_g,int_memory,m_dep,mobile_wt,n_cores,...,px_height,px_width,ram,sc_h,sc_w,talk_time,three_g,touch_screen,wifi,price_range
0,842,0,2.2,0,1,0,7,0.6,188,2,...,20,756,2549,9,7,19,0,0,1,1
1,1021,1,0.5,1,0,1,53,0.7,136,3,...,905,1988,2631,17,3,7,1,1,0,2
2,563,1,0.5,1,2,1,41,0.9,145,5,...,1263,1716,2603,11,2,9,1,1,0,2
3,615,1,2.5,0,0,0,10,0.8,131,6,...,1216,1786,2769,16,8,11,1,0,0,2
4,1821,1,1.2,0,13,1,44,0.6,141,2,...,1208,1212,1411,8,2,15,1,1,0,1

In [29]:
print(test_data.columns)

Index(['id', 'battery_power', 'blue', 'clock_speed', 'dual_sim', 'fc',
       'four_g', 'int_memory', 'm_dep', 'mobile_wt', 'n_cores', 'pc',
       'px_height', 'px_width', 'ram', 'sc_h', 'sc_w', 'talk_time', 'three_g',
       'touch_screen', 'wifi'],
      dtype='object')

In [30]:
# Разделение на признаки и целевую переменную
X_train = train_data.drop('price_range', axis=1).values
y_train = train_data['price_range'].values
X_test = test_data.drop('id', axis=1).values

In [31]:
# Масштабирование признаков
scaler = StandardScaler()
X_train_scaled = scaler.fit_transform(X_train)
X_test_scaled = scaler.transform(X_test)

In [32]:
# Преобразование в тензоры PyTorch
X_train_tensor = torch.FloatTensor(X_train_scaled)
y_train_tensor = torch.LongTensor(y_train)
X_test_tensor = torch.FloatTensor(X_test_scaled)

In [50]:
# Определение архитектуры модели
class MobileNet(nn.Module):
    def __init__(self):
        super(MobileNet, self).__init__()
        self.fc1 = nn.Linear(20, 256)
        self.fc2 = nn.Linear(256, 128)
        self.fc3 = nn.Linear(128, 4)  # 4 класса ценовых диапазонов

    def forward(self, x):
        x = torch.relu(self.fc1(x))
        x = torch.relu(self.fc2(x))
        x = self.fc3(x)
        return x

In [51]:
# Создание экземпляра модели
model = MobileNet()

# Определение функции потерь и оптимизатора
criterion = nn.CrossEntropyLoss()
optimizer = optim.Adam(model.parameters(), lr=0.001)

# Обучение модели
epochs = 50
for epoch in range(epochs):
    optimizer.zero_grad()
    outputs = model(X_train_tensor)
    loss = criterion(outputs, y_train_tensor)
    loss.backward()
    optimizer.step()

if (epoch+1) % 10 == 0:
        print(f'Epoch [{epoch+1}/{epochs}], Loss: {loss.item():.4f}')

Epoch [50/50], Loss: 0.2627

In [52]:
# Оценка модели на тестовом наборе данных (предполагается, что тестовый набор не содержит меток классов)
with torch.no_grad():
    outputs = model(X_test_tensor)
    _, predicted = torch.max(outputs, 1)
    predictions = predicted.numpy()

print("Predictions:", predictions)

Predictions: [3 3 2 3 1 3 3 1 3 0 3 3 0 0 2 0 2 1 3 2 1 3 1 1 3 0 2 0 2 0 2 0 3 0 1 1 3
 1 2 1 1 2 0 0 0 0 1 3 1 2 1 0 3 0 3 1 3 1 0 3 3 3 0 1 0 1 2 3 1 2 1 2 2 3
 3 0 2 0 2 3 0 3 3 0 3 0 3 1 3 0 1 1 2 1 2 2 0 2 1 3 1 0 0 3 0 2 1 1 2 3 3
 2 1 3 3 3 3 2 3 0 0 3 2 1 2 0 3 2 3 1 0 2 2 1 3 1 1 0 3 2 1 2 1 3 2 3 3 2
 2 3 2 3 1 0 3 2 3 3 2 3 3 2 3 3 3 3 1 0 3 0 0 0 2 1 0 1 0 0 1 2 1 0 0 1 1
 2 2 1 0 0 0 1 0 3 1 0 2 2 2 3 1 2 3 3 3 2 2 1 0 0 1 2 1 3 2 3 0 2 0 3 2 3
 3 1 0 1 0 3 0 1 0 2 2 1 3 1 2 0 3 1 2 0 0 2 0 3 3 3 1 1 3 0 0 2 3 3 1 3 1
 1 3 2 1 2 3 3 3 1 0 0 2 3 1 1 3 2 0 3 0 0 3 0 0 3 2 3 3 2 1 3 3 2 3 1 2 1
 2 0 2 3 1 0 0 3 0 3 0 1 2 0 2 3 1 3 2 2 0 2 0 0 0 1 3 2 0 1 0 3 1 0 2 3 1
 2 2 2 3 1 3 3 2 2 2 3 3 1 3 0 3 1 3 1 2 3 0 1 0 3 1 3 2 3 0 0 0 0 2 0 0 2
 2 1 2 2 2 0 1 0 0 3 2 0 3 1 2 2 1 2 3 1 1 2 2 1 2 0 1 1 0 3 2 0 0 1 0 0 1
 1 0 1 1 2 2 3 1 3 0 3 0 3 0 1 1 1 1 0 3 2 3 3 1 3 1 3 1 2 2 0 1 2 1 1 0 0
 0 1 2 1 1 3 2 0 2 2 0 0 3 1 1 1 2 2 3 0 3 0 2 3 2 3 0 2 0 2 2 0 1 1 0 0 1
 1 1 3 3 3 2 3 1 2 2 3 3 3 2 0 2 1 2 3 1 0 2 2 1 0 0 3 1 0 2 2 2 0 3 0 2 2
 0 3 0 2 3 0 1 1 3 3 2 1 2 3 2 0 3 0 2 0 3 3 1 3 2 2 3 0 1 2 3 0 3 2 3 1 1
 0 0 3 2 0 3 2 3 2 1 3 3 3 2 3 3 1 2 0 2 2 3 1 0 0 1 2 2 2 0 0 2 2 3 2 0 2
 1 3 3 0 1 3 1 2 1 1 0 0 2 1 0 1 2 2 2 0 2 2 1 0 3 0 0 3 2 0 0 1 0 0 3 0 3
 0 3 2 1 3 2 0 1 1 3 2 3 2 0 3 0 2 0 2 0 0 1 1 1 2 1 3 1 3 2 2 1 3 2 0 2 2
 0 3 3 0 2 1 1 2 0 3 2 0 3 2 3 0 0 3 0 2 2 3 2 2 2 3 1 2 3 0 1 0 2 2 1 0 0
 1 0 0 2 1 1 2 0 0 1 1 3 0 3 2 3 0 0 1 2 2 1 0 1 1 0 1 1 0 1 3 3 0 2 1 1 3
 0 1 0 2 2 0 3 1 0 3 1 1 0 3 3 3 2 3 0 3 2 0 1 0 3 3 2 0 2 1 3 0 0 2 2 1 2
 1 2 2 2 1 3 1 1 1 2 0 0 2 2 0 2 0 0 0 0 2 3 3 3 0 1 2 1 1 0 0 2 1 0 2 0 3
 2 2 1 2 0 1 1 3 0 0 3 2 3 0 0 2 3 3 1 2 2 1 0 0 3 3 0 3 0 0 0 2 2 1 2 0 3
 3 1 2 3 3 0 1 1 2 1 2 2 0 1 3 1 1 3 0 2 3 2 1 1 1 3 3 0 2 3 0 2 3 3 2 2 3
 2 0 1 2 1 2 1 1 1 2 2 1 2 1 1 1 3 1 0 1 2 3 1 0 0 3 2 2 3 0 3 3 2 1 3 0 1
 3 1 1 1 2 3 2 0 3 0 2 3 0 3 1 3 3 1 0 2 3 1 0 2 1 2 1 2 0 2 2 0 2 3 2 3 0
 2 1 1 2 2 3 3 0 2 1 2 1 3 0 1 3 0 1 0 0 3 3 2 1 0 0 0 3 2 3 3 0 0 1 1 1 2
 2]

In [55]:
# Создаем DataFrame из тестовых данных
test_df = pd.read_csv('data/test.csv')

# Добавляем столбец с предсказаниями в DataFrame
test_df['predicted_price_range'] = predictions

# Выводим первые несколько строк DataFrame для просмотра предсказаний
test_df.head()

,id,battery_power,blue,clock_speed,dual_sim,fc,four_g,int_memory,m_dep,mobile_wt,...,px_height,px_width,ram,sc_h,sc_w,talk_time,three_g,touch_screen,wifi,predicted_price_range
0,1,1043,1,1.8,1,14,0,5,0.1,193,...,226,1412,3476,12,7,2,0,1,0,3
1,2,841,1,0.5,1,4,1,61,0.8,191,...,746,857,3895,6,0,7,1,0,0,3
2,3,1807,1,2.8,0,1,0,27,0.9,186,...,1270,1366,2396,17,10,10,0,1,1,2
3,4,1546,0,0.5,1,18,1,25,0.5,96,...,295,1752,3893,10,0,7,1,1,0,3
4,5,1434,0,1.4,0,11,1,49,0.5,108,...,749,810,1773,15,8,7,1,0,1,1